<!doctype html>
<html lang="{{ site.lang | default: "en-GB" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>6th Morpeth Scouts, Northumberland, England</title>
    <script src="https://use.fontawesome.com/bec4471f8f.js"></script>
{% seo %}
   <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><img src="images/Scouts_Logo_Stack_Purple.png" alt="Scouts logo" /></a>
        <br><br>
        <h1>6th Morpeth Scouts</h1>
        <p style="font-size:1.2em;">
          <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="http://www.castlemorpethscouts.org.uk/joining/">Joining</a> <img src="images/external-link.png" alt="External link" style="width:8px;">
        </p>
        <hr>
        <p style="font-size:1.2em;">
          <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/location">Location</a><br>
          <i class="fa fa-clock-o" aria-hidden="true"></i> <a href="/meeting-times">Meeting times</a><br>
          <i class="fa fa-calendar" aria-hidden="true"></i> <a href="http://bit.ly/6thMorpethCalendar ">Calendar</a></br>
      <i class="fa fa-newspaper-o" aria-hidden="true"></i> <a href="/latest-updates">Latest updates</a>
        </p>
        <hr>
        <p style="font-size:1.2em;">
          <i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="/skillsforlife">#SkillsForLife</a><br>
          <i class="fa fa-hand-paper-o" aria-hidden="true"></i> <a href="/volunteering">Volunteering</a>
        </p>
    <hr>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <small><a href="http://6thmorpethscouts.co.uk/privacy-notice">Privacy</a> | <a href="https://github.com/6th-Morpeth-Scouts/6th-Morpeth-Scouts.github.io/issues">Pending updates</a></small>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
